
body {
    color: green;
    font-weight: 900;
    background-color: purple;
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
}

.banner {
    background-image: url("https://statics.lesinrocks.com/content/thumbs/uploads/2019/01/width-1125-height-612/kaamelott-bon.jpg");
    background-size: cover;
    color: white;
    padding: 120px 0;
  }

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
  }

.container {
  width: 700px;
  margin: 50px auto;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 60;
}

h2 {
    color: yellow;
    font-weight: bold;
}

.link-medium {
    background-color: rgba(233, 253, 240, 1);
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

.link-medium:hover {
  background-color: rgba(100, 100, 180);
  font-size: 100px;
  color: magenta;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
